# Core dependencies
streamlit
pandas
numpy

# Visualization
plotly
matplotlib

# Time series analysis
statsmodels
pmdarima  # Untuk auto_arima
prophet   # Model time series dari Facebook

# Machine Learning
tensorflow  # Untuk LSTM
scikit-learn  # Preprocessing dan evaluasi

# Other
python-dotenv  # Opsional untuk manajemen environment