# Core dependencies
streamlit
pandas
numpy
plotly
matplotlib
statsmodels

# Time series dependencies
pmdarima  # Versi stabil terakhir yang kompatibel dengan Python 3.11

# Utils
python-dotenv

# SQLite (biasanya sudah built-in di Python)